<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
      <add key="apppath" value=""/>
    <add key="pagesize" value="10"/>
    <add key="comment_pass"  value="0"/>
  </appSettings>

  <connectionStrings>

    <add name="connectionString" connectionString="Data Source=.\sqlexpress; database=blog; uid=sa; pwd=sa; "/>
   
  </connectionStrings>
 
   

  <system.web>

     
    
    <httpRuntime requestValidationMode="4.5" maxRequestLength="20000" executionTimeout="3600"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en-us" uiCulture="en-us"/>
    <authentication mode="Forms"/>
      <compilation debug="false" targetFramework="4.5" />
 

    <pages controlRenderingCompatibilityVersion="3.5" validateRequest="false" clientIDMode="AutoID">
    </pages>







    <machineKey decryptionKey="686A0D3FD4A433AC37EAED77D01E4F7152E99F820F3C6AC8" validationKey="49CEE6DC0AB1B34FA80ED1573B741A4A5A1257F38F65BBCDBA2343BF98A247954670D35703E96F7563A5140858CEDD9E921DB5A8961BB97C3220E70B721D345B" />
    
    </system.web>

</configuration>
